.appBar {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.leftSection {
    display: flex;
    align-items: center;
}

.rightSection {
    display: flex;
    align-items: center;
}

.titleCard {
    color: #3d2ba1;
    margin-right: 1rem;
}

.search {
    display: flex;
    align-items: center;
}

.searchMovie {
    margin-left: 1rem;
}

.homeLink {
    margin-left: 2rem;
    color: #000000;
    text-transform: none;
    font-size: 1.3rem;
    height: 40px;
    display: flex;
    align-items: center;
}

.genreSelect {
    margin-left: 0.1rem;
    min-width: 120px;
    margin-bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
}


.notchedOutline {
    border-radius: 18px;
}

.largeText {
    font-size: 1.7rem;
}

.link {
    text-decoration: none;
    color: inherit;
    display: block;
  }