.movielist {
    display: grid
}
  
  .movieCard {
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .movieCard:hover {
    transform: scale(1.05);
  }
  
  .movieCard img {
    width: 100%;
    height: auto;
  }
  
  .movieInfo {
    padding: 10px;
    text-align: center;
  }
  
  .movieInfo-h3 {
    margin: 0;
    font-size: 18px;
    color: blue;
  }
  
  .movieInfo-p {
    margin: 5px 0;
    font-size: 14px;
  }
  