
.castContainer{
    display: grid;
    gap: 18px;
    height: auto;
    grid-template-columns:repeat(4, 1fr);
}

.castCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 74px;
    min-width: 225px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}


.castCard img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 9px;
    margin-left: 12px;
}


.actorName{
    font-weight: 600;
    font-size: 14px;
    width: 100px;
    height: 17px;
}