


.mainDiv{
 /* background-color: rgba(248, 248, 248, 1); */
  margin-inline: auto;
}
.title{
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 10px;
}

.navigation{
  font-size: 12px;
  line-height: 18px;
}

.movieImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.trailer, .image{
border-radius: 10px;
width: 100%;
height:95%;
object-fit: cover;
object-position: center;
}
.dateSpan{
  font-size: 24px;
  color: #595C5F;
}
.cardd{
  width: 278px !important;
}

.lightBlue{
  color: Light blue;
}

.grey{
  color: #697586;
  font-size: 14px;
  padding-left: 7px;
  margin-top: 2px;
}
.cardWidth{
width: 225px !important;
border: 1px solid transparent !important;
}
.castCard{
  border-radius: 10px;
  height: 68px;
  
}

.icon{
 margin-top: -1.6px;
  color: yellow;
  padding-right: 3px;
}

.actorCardImage{
  object-fit: fill;
  object-position: center;
}
.rewardCard{
  border-radius: 10px;
  border: 1px solid transparent;
  margin-bottom: 16px;
  min-height: 96px !important;
  width: 674px !important;
}

.header{
  line-height: 24px;
 
}

.Name{
  font-size: 14px;
  font-weight: 400;
  color: darkblue;
  text-decoration: none;
  list-style: none;
}
.cast{
  font-size: 20px;
  font-weight: bold;
}

.movieImage{
  aspect-ratio: 1/1;
}

.overView{
  font-weight: 400;
}

.character{
  font-size: 12px;
  color: rgba(105, 117, 134, 1);
}

@media only screen and (min-width: 1100px){
  .image{
    height: 420px;
  }
}

@media only screen and (max-width: 800px){
  .actorImage{
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    width: 100% !important;
  }
  .rewardCard{
    width: 100% !important;
  }
  .infoReward{
    padding-inline: 25px;
  }
}

.darkBlue{
  color:rgba(0, 48, 85, 1) ;
}

.castImage{
  object-fit: fill;
  object-position: center;

  
}

.actorImage{
  width: 338px;
  height: 456px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.personalInfo{
  font-size: 20px;
  font-weight: 600 ;
  font-weight: bolder;
  margin-top: 20px;
}
.rolee{
  font-size: 14px;
}

.rewardMovie{
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: rgba(65, 140, 251, 1);
}
.role{
  color:rgba(0, 48, 85, 1);
  font-weight: bolder;
}

.rewardImage{
  margin-top: -5px;
}

.infoReward{
align-self: center;

}
.logo{
  font-size: 26.7px;
  font-weight: 700;
  line-height: 31.72px;
  color: rgba(65, 140, 251, 1) !important;
}
.footer{
  margin-top: 15px;
  min-width: 100%;
  height: 214px;
  background: linear-gradient(rgba(0, 48, 85, 1),rgba(3, 74, 129, 1));
}

.copyRights{
  font-size: 14px;
  color: rgba(209, 213, 219, 1);
}

