.movieCardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); /* Make columns responsive */
    gap: 30px; /* Space between grid items */
    margin-left: 8%;
    margin-right: 8%;

    width: 75%;
}

.movieCard{
    border: 1px solid lightgray;
    border-radius: 8px;
}

.movieCard img {
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 350px;

}

.movieText{
    margin-top: 1rem;
    margin-left: 1rem;
}
