
.movieCardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(278px, 1fr)); /* Make columns responsive */
    gap: 1%; /* Space between grid items */
    margin-left: 8%;
    margin-right: 8%;
    height: 75%;
    width: 75%;
}

.movieCard {
    border: 1px solid lightgray;
    border-radius: 8px;
}

.movieCard img {
    margin-left: 3%;
    margin-top: 1%;
    object-fit: fill;
    width: 256px;
    height: 344px;
    border-radius: 6px;
}

.movieInformation {
    margin-top: 1rem;
    margin-left: 1rem;
}

.movieText{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.sortBy{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-left: 8%;
    padding-right: 17%;
}

.paginationBar{
    margin-top: auto;
    flex-direction: column;
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: center;
}
