.pageContainer {
    background-color: lightgray; /* Light gray background */
    padding-bottom: 20px; /* To add some space at the bottom */
}

.movieCardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(278px, 1fr)); /* Make columns responsive */
    gap: 20px; /* Space between grid items */
    margin-left: 8%;
    margin-right: 8%;
    height: 464px;
    width: 75%;
}

.movieCard {
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 1px 1px 1px grey;
}

.movieCard img {
    margin-left: 6px;
    margin-top: 6px;
    object-fit: fill;
    width: 256px;
    height: 344px;
    border-radius: 6px;
}

.movieText {
    margin-top: 1rem;
    margin-left: 1rem;
}

.sortBy{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-left: 8%;
    padding-right: 17%;
}

.paginationBar{
    justify-content: center;
    display: flex;
    padding-top: 4rem;
}
