.index {
    padding: 44px 10%;
  }
  
  .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #003055;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
  }
  