.navbar {
    display: flex;
    align-items: center;
    padding: 8px;
  }
  
  .logo {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 26.76px;
    line-height: 31.72px;
    color: #418CFB;
  }
  